@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import 'src/variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans' !important;
}

.button {
    font-size: 15px !important;
    text-transform: capitalize !important;
}

.button--global {
    background-color: $main-color !important;
    box-shadow: 0 10px 15px 0 rgba($color: $main-color, $alpha: 25%) !important;
    padding: 10px 20px !important;
    color: white !important;
    border-radius: $border-radius !important;
}

.MuiSnackbar--root {
    right: 24px !important;

    @media (min-width: 600px) {
        right: 24px !important;
    }
}

.MuiTextField-root, .MuiFormControl-root {
    & label.Mui-focused {
        color: $main-color;
    }

    & .MuiInput-underline:after {
        border-bottom-color: $main-color;
    }
    
    & .MuiOutlinedInput-root {
        & fieldset {
            border-radius: $border-radius;
        }

        &.Mui-focused fieldset {
            border-color: $main-color;
        }
    }
}

@import './scss/AuthLayout.scss';